h1 ,h2, p {
    text-align: center;
}
body {
    background-image: url("Images/Brown Food Illsutration Kawaii Phone Wallpaper.png");
}
.menu {
    width: 80%;
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;
}
